rag/workflows.json
[{"updatedAt":"2026-07-18T20:03:01.000Z","createdAt":"2026-07-18T17:33:37.302Z","id":"aLjsZno7NRk2Kcay","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"189dfe1d-5802-47c0-922d-07679962135b","name":"Google Drive Trigger"}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"8cee3026-b73c-47aa-b61c-9b175698486a","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:33:37.306Z","createdAt":"2026-07-18T17:33:37.306Z","role":"workflow:owner","workflowId":"aLjsZno7NRk2Kcay","projectId":"7bIjGPXnJdJ5sG24","project":{"updatedAt":"2026-07-18T17:30:25.445Z","createdAt":"2026-07-18T17:28:11.378Z","id":"7bIjGPXnJdJ5sG24","name":"Swiper Fox <aditi.kc23@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"200cd947-4639-4d44-a3c7-2b36eff5b8db"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-07-18T20:18:59.337Z","createdAt":"2026-07-18T19:25:36.238Z","id":"NcvzA6R3kk3wKbj2","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"373937a3-d1a2-4b53-b247-105805767061","name":"When clicking ‘Execute workflow’"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1MkjhfG4hDOGNGrCWeCED_w2EAADgjBMx","mode":"list","cachedResultName":"RAG Model","cachedResultUrl":"https://drive.google.com/drive/folders/1MkjhfG4hDOGNGrCWeCED_w2EAADgjBMx"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[208,0],"id":"b009d263-4763-44ea-846f-78583b72bd0b","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"C29u9QdfEa537tP1","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,0],"id":"69b9c000-bf42-4f2c-af45-896d5dd6c98c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"C29u9QdfEa537tP1","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"ragmodel","mode":"list","cachedResultName":"ragmodel"},"options":{"pineconeNamespace":"ragmodel"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[624,0],"id":"412fd071-9f92-4d04-a74c-af692fa40fd7","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"NvIHpsCRxVQNwYE1","name":"Pinecone account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[496,224],"id":"11747206-5ec6-464a-872a-2462d8259cad","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Hp56kciwduKB0qHM","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[768,208],"id":"c2f45ddc-8286-48d5-9d23-fd1e212f826c","name":"Default Data Loader"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"3c2d0ff2-0a8d-46d6-8ddb-3c937148ad21","activeVersionId":null,"versionCounter":44,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T19:25:36.239Z","createdAt":"2026-07-18T19:25:36.239Z","role":"workflow:owner","workflowId":"NcvzA6R3kk3wKbj2","projectId":"7bIjGPXnJdJ5sG24","project":{"updatedAt":"2026-07-18T17:30:25.445Z","createdAt":"2026-07-18T17:28:11.378Z","id":"7bIjGPXnJdJ5sG24","name":"Swiper Fox <aditi.kc23@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"200cd947-4639-4d44-a3c7-2b36eff5b8db"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-07-18T21:14:21.823Z","createdAt":"2026-07-18T20:22:21.708Z","id":"8ElsoeYjW9XqfYUg","name":"chatbot","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-336,-112],"id":"a8ca8f59-48d7-45ca-883e-cb4bf8f6d9e1","name":"When chat message received","webhookId":"61ad47ac-85ff-4f7c-b319-a9cef4640f38"},{"parameters":{"options":{"systemMessage":"You are \"PetPal\", the virtual assistant for Pet Centre — an online platform that connects pet owners with veterinary services, appointments, medicines, and pet-care guidance.\n\n## Your Persona\n- You are warm, friendly, and empathetic — pet owners are often worried about their animals, so always acknowledge their concern before answering.\n- You speak in simple, clear language. Avoid heavy medical jargon; when a technical term is necessary, explain it in one short sentence.\n- You are professional but approachable, like a helpful front-desk assistant at a veterinary clinic.\n- Keep answers concise: 2–5 sentences for simple questions, short bullet points for lists or steps.\n\n## Your Knowledge & the Retrieved Context\n- You answer questions using ONLY the information retrieved from the Pet Centre knowledge base (the documents provided to you as context).\n- If the retrieved context contains the answer, use it and summarize it naturally — do not copy text word-for-word or mention \"documents\", \"context\", or \"knowledge base\" to the user.\n- If the retrieved context does NOT contain the answer, say honestly: \"I'm not sure about that — I'd recommend checking with one of our veterinarians.\" Never invent facts, prices, medicines, dosages, or appointment details.\n\n## What You Help With\n- Explaining Pet Centre's services: booking appointments, finding vets, ordering medicines, notifications, and account/profile questions.\n- General pet-care guidance (feeding, grooming, vaccination schedules, common symptoms) when it is covered by the knowledge base.\n- Guiding users through the website: how to log in, where to find their dashboard, how to reach a vet.\n\n## Safety Rules\n- You are NOT a veterinarian and must never diagnose conditions or prescribe medicines or dosages.\n- If a user describes symptoms that sound urgent (difficulty breathing, seizures, poisoning, severe bleeding, collapse), immediately advise them to contact a veterinarian or emergency animal clinic right away — before anything else.\n- For any medical question, end with a gentle reminder to consult a registered veterinarian for a proper diagnosis.\n- Politely refuse questions unrelated to pets or Pet Centre (e.g., coding, politics, general trivia) and steer the conversation back: \"I'm here to help with pet care and Pet Centre services — is there anything I can help you with there?\"\n\n## Formatting\n- Greet the user by name if they provide it.\n- Use short paragraphs and bullet points; no long walls of text.\n- End helpful answers with a light follow-up offer, e.g., \"Anything else I can help you or your pet with? 🐾\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-112,-224],"id":"2a730ee7-63da-46db-a336-88422e1c1649","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[-272,96],"id":"3c4a8b39-6099-44b0-b3fe-979a064bca83","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Hp56kciwduKB0qHM","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[-96,112],"id":"44382450-e74c-4daa-b48a-3a83513639be","name":"Simple Memory"},{"parameters":{"description":"Contains Pet Centre's complete knowledge base. Use this tool to answer ANY question about: pet care guidance (feeding, grooming, vaccinations, deworming, common illnesses and symptoms in dogs, cats, and other pets), veterinary services offered by Pet Centre, how to book/reschedule/cancel appointments, available medicines and pet products, pricing and service details, clinic timings and locations, and how to use the Pet Centre website (login, dashboards, profiles, notifications for pet owners and veterinarians). Always search this knowledge base before answering any pet-related or Pet Centre-related question."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[192,-144],"id":"f870454e-e2ce-464d-8d63-855126f66da1","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"ragmodel","mode":"list","cachedResultName":"ragmodel"},"options":{"pineconeNamespace":"ragmodel"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[64,48],"id":"d3172d19-0927-4380-8cfc-5d511b9c22a4","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"NvIHpsCRxVQNwYE1","name":"Pinecone account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[64,208],"id":"bb4bfdc2-e253-44dd-959a-cc7148329bb6","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Hp56kciwduKB0qHM","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[368,16],"id":"99774c15-9e82-4386-9398-aa2e5cea05f7","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"Hp56kciwduKB0qHM","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1fx_eraoUnSIc-y2fCaBY-tp8m2clfO5G8Di2EkYCEKw","mode":"list","cachedResultName":"Chat log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fx_eraoUnSIc-y2fCaBY-tp8m2clfO5G8Di2EkYCEKw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"chat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fx_eraoUnSIc-y2fCaBY-tp8m2clfO5G8Di2EkYCEKw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now }}","Input":"={{ $('When chat message received').item.json.chatInput }}","Response":"={{ $json.output }}"},"matchingColumns":["Timestamp"],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Response","displayName":"Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,-288],"id":"96a4dc60-061b-4f81-a4ab-269ae922badf","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F6koAqDGquBlnQYw","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ca9b4e9-5ddc-482a-bf99-75b5ad0b1ef6","name":"text","value":"={{ $json.Response }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-288],"id":"e6d71993-e86c-4433-9e28-a823afa2fbc0","name":"Edit Fields"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"563dff01-5cdd-41e5-9334-cafbea721bb0","activeVersionId":null,"versionCounter":102,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T20:22:21.716Z","createdAt":"2026-07-18T20:22:21.716Z","role":"workflow:owner","workflowId":"8ElsoeYjW9XqfYUg","projectId":"7bIjGPXnJdJ5sG24","project":{"updatedAt":"2026-07-18T17:30:25.445Z","createdAt":"2026-07-18T17:28:11.378Z","id":"7bIjGPXnJdJ5sG24","name":"Swiper Fox <aditi.kc23@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"200cd947-4639-4d44-a3c7-2b36eff5b8db"}}],"versionMetadata":{"name":"Personalized rag model","description":""}}]